<p>home works!</p>
<form>
    <ul>
        <li>
            <label for= 'Nombres'>
                Nombres
            </label>
            <input id="nombres" type="text" maxlenght="60">
        </li>

        <li>
            <label for= 'Apellidos'>
                Apellidos
            </label>
            <input id="apellidos"type="text" maxlenght="60">
        </li>
        
        <li>
            
        <div class="genero">
            <label for='Genero'>
                Genero
            </label>
            <input class="radio" type="radio" id="masculino" value="Masculino"> 
            <input class="radio" type="radio" id="femenino" value="Femenino">
            <input class="radio" type="radio" id="otro" value="Otro">
        </div>

        </li>
        <li>
            <button type="submit">Crear</button><button type="reset">Cancelar</button>
        </li>
        <div class="Pais">
            <label for="Pais">Pais</label>
            <div>
                <select id="pais" required="true">
                    <option>Seleccione su pais</option>
                    <option value="1">Chile</option>
                    <option value="2">Argentina</option>
                    <option value="3">Peru</option>
                    <option value="4">Colombia</option>
                    <option value="5">Venezuela</option>
                </select>

            </div>
        </div>


    </ul>


</form>  


